@model ScrumpingLMS.Models.Klass

@{
    ViewBag.Title = "Details";
}

<h2>Klassuppgifter</h2>

<div>
    <h4>Klass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
         
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDays)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editera", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till lista", "Index")
</p>

<div class="row">
    <div class="col-md-6">
        <b>Elever</b><br/><br/>
    </div>

</div>
@{
    var students = (List<ScrumpingLMS.Models.ApplicationUser>)ViewBag.LMSStudents;
}

    <div class="row">
        <div class="col-md-2">
            <b>Förnamn</b>
        </div>
        <div class="col-md-2">
            <b>Efternamn</b>
        </div>
        <div class="col-md-2">
            <b>E-post</b>
        </div>
    </div>

    @foreach (var student in students)
    {
        <div class="row">
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => student.FirstName)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => student.LastName)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => student.Email)
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Uppdatera", "Edit", "ApplicationUsers", new { id = student.Id }, null) |
                @Html.ActionLink("Detaljer", "Details", "ApplicationUsers", new { id = student.Id }, null) |
                @Html.ActionLink("Ta bort", "Delete", "ApplicationUsers", new { id = student.Id }, null) 
            </div>
        </div>
    }
