@model ScrumpingLMS.Models.ScheduleDayUpload

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@using (Html.BeginForm("ShowFile", "ScheduleDayUploads", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <h4>ScheduleDayUpload</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Klass.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Klass.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DayNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DayNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LinkToDokument)
            </dt>

            <dd>
                <a href="@Model.LinkToDokument">@Model.LinkToDokument</a>
                @*@Html.DisplayFor(model => model.LinkToDokument)*@
            </dd>

        </dl>
    </div>

    <p>

        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
        @Html.ActionLink("Back to List", "Index")


    </p>
}
