@model ScrumpingLMS.Models.ScheduleDay

@{
    ViewBag.Title = "Edit";
}

<h2>Ändra</h2>


@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.WorkingDate)
    @Html.HiddenFor(model => model.KlassId)
    @Html.HiddenFor(model => model.DayNumber)
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ScheduleDay</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @*<div class="form-group">
            @Html.LabelFor(model => model.DayNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DayNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DayNumber, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.KlassId, "KlassId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KlassId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KlassId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Details, 10, 400, new { htmlAttributes = new { @class = "form-control" } })
               
                <p id="schemahelper">
                    Använd följande html-taggar:<br />
                    &lt;br&gt; för att göra en radbrytning<br />
                    &lt;b&gt; <b>Fet text</b> &lt;/b&gt;<br />
                    &lt;i&gt; <i>Kursiv text</i> &lt;/i&gt;<br />
                    &lt;u&gt; <u>Understruken text</u> &lt;/u&gt;<br />
                    &lt;a href="http://www.lexicon.se"&gt;<a href="http://www.lexicon.se">Länk till Lexicon</a>&lt;/a&gt;<br />

                </p>
                
                @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
            </div>
        </div>
           
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spara" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tillbaka till listan", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
